body {
    margin: 0;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 20px);
}

#display-screen {
    background: #dec;
    flex: 3;
    display: flex;
    flex-direction: column;
}

#toolbar {
    flex: 1;
    border-bottom: 1px solid #cdb;
}
#toolbar > button {
    border-style: none;
    background: none;
    color: #008;
}
#display-formula {
    padding: 1vw;
    flex: 4 0px;
    overflow-y: scroll;
}
.formula {
    word-wrap: break-word;
}
.formula > span {
    margin-right: 5px;
}
.formula > .number {
    color: #366;
}
.formula > .symbol {
    color: #336;
}
.formula > .operator {
    font-size: 0.75em;
    padding: 0 4px;
    border: 1px solid #663;
    border-radius: 4px;
    color: #663;
}
.formula > .parenthesis {
    color: #636;
}
.formula > .eq {
    font-size: 0.75em;
    padding: 0 4px;
    border: 1px solid #b61;
    background: #fc7;
    border-radius: 4px;
    color: #b61;
}

#display-result-flex {
    padding: 1vw;
    font-size: 3.5em;
    font-kerning: none;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    flex: 3;
}
#display-result {
    transform-origin: left;
}
.zero-width-comma {
    display: inline-block;
    position: relative;
    width: 0;
    left: -0.15em;
    top: 0.1em;
}

@media(max-height: 639px) {
    #display-screen {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #toolbar {
        flex: 1 100%;
    }
    #display-formula {
        flex: 2;
    }
}


#buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex: 7;
}

#buttons > button {
    width: 20%;
    font-size: calc(min(2.5em, 7vh));
    border: 1px solid #888;
    background: #ddd;
    color: #222;
    margin: 0;
    padding: 0;
}
#buttons > .numbers, #dot, #ee {
    background: #444 !important;
    color: #eee !important;
}
#eq {
    background: #b61 !important;
    color: #eee !important;
}
#reciprocal {
    font-size: calc(min(2em, 7vh)) !important;
}
#ans {
    font-size: calc(min(1.5em, 7vh)) !important;
}

#history-sheet {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
}

.history-screen {
    display: flex;
    align-items: center;
}
.history-screen > input {
    flex: 0 0 16px;
}
.history-screen > label {
    flex: 1;
    padding: 4px;
    width: 90%;
}
.history-screen:nth-child(odd) {
    background: #eee;
}
.history-screen .result {
    text-align: right;
    font-size: 1.75em;
}

#copy-buffer {
    display: none;
}
